@font-face {
    font-family: "dnx:test_font";
    /*font-style: italic;*/
    src: url("acsguis:css/font.ttf");
    font-size: 52px;
}

#root {
    background-color: rgba(0, 0, 0, 100);
    width: 80%;
    height: 80%;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    border-radius: 18px;
    border: 2px rgba(0, 0, 0, 0);
}

#root:hover {
    border-color: rgba(0, 0, 0, 200);
}

#big_panel {
    top: 180px;
    width: 100%;
    height: 30%;
}

#content {
}

.inline_labels2 {
    display: inline;
    background-color: blue;
    border: none;
}

.inline_labels2:hover {
    height: 50px;
    border: 1px gray;
}

.inline_labels, .inline_buttons {
    display: inline;
    background-color: green;
}

.inline_labels_dumb:hover, .inline_buttons:hover {
    width: 300px;
}

.block_labels2 {
    background-color: red;
    border: none;
}

.block_labels2:hover {
    height: 50px;
    border: 1px gray;
}

.block_labels:hover {
    height: 50px;
    border: 1px gray;
}

/* Checkbox testing */

.switch-button-chk-active, .switch-button-chk-inactive {
    /*width: 11px;*/
    width: 100%;
    height: 12px;
    /*left: 10px;*/
    top: auto;
    background-color: translucent;
}

.switch-button-chk-active:hover>label, .switch-button-chk-inactive:hover>label {
    color: #a23e00;
}

.switch-button-chk-active:hover>button, .switch-button-chk-inactive:hover>button {
    border-color: #a23e00;
}

.switch-button-chk-inactive>button {
    background-color: black;
}

.switch-button-chk-active>button {
    background-color: #c25008;
}

checkbox {
    color: rgba(255, 255, 255, 0);
    text-shadow: disable;
}

checkbox>label
{
    left: 16px;
    /*width: 220px;*/
}